/* All sims button goes here */
.controls {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.control input:disabled, button:disabled {
  cursor: not-allowed;
}

#pauseButton {
  z-index: 1;
  background-color: gray;
  padding: 3%;
  position: absolute;
  top: calc(65% - 20px);
}


.qoptions {
  margin-left: 5px;
  vertical-align: middle;
  align-self: flex-end;
  margin-top: auto;
}

.answer {
  text-align: center;
  width: 100%;
  color: #000;
}

.control h3 {
  font-size: 25px;
}

.control input {
  width: 40px;
  height: 20px;
  text-align: center;
}

.qoptions input {
  width: 50px;
  height: 29px;
  text-align: center;

  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}

.qoptions button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  text-align: center;
}

/* universal button */
.checkboxes {
  margin: 5px;
}

.checkboxes label {
  margin-left: 5px;
}

#particleControl {
  background-color: #4F4A41;
}

.particleControl {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
}

.particleControl {
  height: calc(36px + 10px + 10px); /* for the clone */
}

#NernstButton, #GoldmanButton {
  border: none;
  text-align: center;
  text-decoration: none;
  width: 20%;
  height: 36px;
  margin-left: 20px;
  background-color: #dfe6e9;
}

.control input:hover {
  cursor: text;
  box-shadow: 0px 0px 15px lightgrey;
}

.checkboxes input {
  cursor: pointer;
}

#NernstButton:hover, #GoldmanButton:hover, button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px lightgrey;
}

#equilibrateButton {
  background-color: #dfe6e9;
  font-size: 1.1em;
  border: none;
  text-align: center;
  text-decoration: none;
  width: 20%;
}

.equilibrateButton {
  height: 36px;
  margin-left: 20px;
  margin: 10px 0px;
  /* flex: 0 0 auto; */
}

#equilibrateButton-clone {
  height: calc(36px + 20px);
}

#equilibrateButton, #answer {
  width: 95%;
  align-self: center;
}

#equilibrateButton:hover, #equilibrateButton:active, #equilibrateButton:focus {
  box-shadow: 0px 0px 15px lightgrey;
  cursor: pointer;
}

#answer-Na.na-disabled, #answer-Cl.cl-disabled, #answer-K.k-disabled, #answer-Net.net-disabled {
  display: none;
}
/* #ion-selector {
display: block;
} */
