/* All the HTML scroll goes here */

.questions-scroll {
  scrollbar-color: #488483 #88bdbc;
  scrollbar-width: thin;
}

.questions-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.questions-scroll::-webkit-scrollbar-track {
  background-color: #88bdbc;
}

.questions-scroll::-webkit-scrollbar-thumb {
  background-color: #488483;
  -webkit-border-radius: 10px;
}

.simulatorInputContainer,
.bottom-scroll,
.equationContainer {
  scrollbar-color: #2a2722 #4f4a41;
  scrollbar-width: thin;
}

.simulatorInputContainer::-webkit-scrollbar,
.bottom-scroll::-webkit-scrollbar,
.equationContainer::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.bottom-scroll::-webkit-scrollbar-track,
.equationContainer::-webkit-scrollbar-track {
  background-color: #4f4a41;
}

.bottom-scroll::-webkit-scrollbar-thumb,
.equationContainer::-webkit-scrollbar-thumb {
  background-color: #2a2722;
  -webkit-border-radius: 10px;
}
