/* *****************************
All the simulator layers
All the General setting
The Help.js will clone the this css
***************************** */
#root {
  height: calc(100% - 36px)
}

#stage {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #88BDBC 5px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#firstBox {
    background-color: #4F4A41;
}

.firstBox, .secondBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

.firstBox {
  width: 35%
}
.secondBox {
  width: 65%
}


#leftbar {
  background-color: #88BDBC;
}


.leftbar {
  display: flex;
  flex-direction: column;
}

.leftbar, .sim {
  height: 65%;
}

#sim {
  background-color: #fffbea;
}

.sim {
  position: relative;
}

.leftWindow .sim {
  height: 100%;
}

#leftbar.hidden {
  height: 0%;
}

.simulatorInputContainer {
  justify-content: space-between;
  padding: 10px;
  overflow: auto;
  height: 35%;
}

.equationContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(35% - 20px - 36px - 20px);
  /* justify-content: space-between; */
}

.simulatorInputContainer, .equationContainer {
  display: flex;
  flex-direction: column;
}

#simulatorInputContainer, #equationContainer {
  background-color: #4F4A41;
}

.equationContainer.fullsize {
  height: 100%
}

#equationContainer, #leftbar, #equationdiv, #q1 {
  transition: height 0.3s ease-in;
}

#hidebar {
background-color: #60a3bc;
}

.hidebar {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    height: 20px;
    padding: 5px;
}

#hidebar:hover {
  background-color: #82ccdd;
  cursor: pointer;
}

#hidebarText {
  word-wrap: break-word;
  font-family: monospace;
  /* Placed letter "i" in the center */
  white-space: pre-wrap;
  /* this is for displaying whitespaces including Moz-FF.*/
  font-size: 18px;
}

#equationdiv {
background-color: #4F4A41;
}

.equationdiv {
  padding: 5px;
  margin: 10px 0;
  display:flex;
  flex-shrink: 0;
  flex-direction: column;
}

/* #equationdiv select {
  width: 45px;
  height: 25px;
  text-align: center;
} */

.simulatorSetting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
/* https://stackoverflow.com/questions/3331353/transitions-on-the-display-property */
#simulatorSetting, #questionsdiv, #leftWindow {
  transition-property: visibility, opacity;
  transition-duration: 0s, .5s;
}

#simulatorSetting.hidden, #questionsdiv.hidden , #leftWindow.hidden {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility, height;
  transition-duration: .5s, 0s;
  transition-delay: 0s, .5s;
  height: 0;
  padding: 0;
}

/* #dataPlot.hide because help.js won't render any element with hidden class */
#dataPlot.hide, #can.hidden {
  display: none !important;
}

#dataPlot.visable, #can.visable {
  display: block !important;
}

.setting {
  display: block;
  text-align: center;
}
.setting tr {
  position: relative;
  font-weight: 400;
  font-style: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: rgba(0,0,0,.87);
  margin:5px;
}
.setting tr label {
  border-radius:4px 0px 0px 4px;
  box-sizing:border-box;
  color:rgba(255, 255, 255, 1);
  background-color:rgba(255, 255, 255, 1);
  background-color:#74b9ff;
  cursor:default;
  font-family:Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:700;
  height:30px;
  padding: 11px;
  padding-top: 5.5px;
  width:40px;
}

#NernstSetting tr:nth-child(1) label {
  background-color:#74b9ff;
  padding-left: 12px;
  padding-top: 7px;
}

#GoldmanSetting tr:nth-child(1) label {
  background-color:rgb(245, 206, 40);
}
#GoldmanSetting tr:nth-child(2) label {
  background-color:rgb(205, 92, 92);
}
#GoldmanSetting tr:nth-child(3) label {
  background-color:rgb(53, 178, 53);
}

.setting tr input {
  box-sizing:border-box;
  color:rgba(0, 0, 0, 0.87);
  display:block;
  font-size:14px;
  font-weight:400;
  height:30px;
  line-height:17px;
  max-width:100%;
  outline: none;
  border: 1px solid #DDDDDD;
  padding: 14px 9.5px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

#NernstSetting tr:nth-child(1) input:focus {
  box-shadow: 0 0 5px #74b9ff;
  border: 1px solid #74b9ff;
}

#GoldmanSetting tr:nth-child(1) input:focus {
  box-shadow: 0 0 5px rgb(245, 206, 40);
  border: 1px solid rgb(245, 206, 40);
}

#GoldmanSetting tr:nth-child(2) input:focus {
  box-shadow: 0 0 5px rgb(205, 92, 92);
  border: 1px solid rgb(205, 92, 92);
}

#GoldmanSetting tr:nth-child(3) input:focus {
  box-shadow: 0 0 5px rgb(53, 178, 53);
  border: 1px solid rgb(53, 178, 53);
}

.setting tr div {
  border-radius:0px 4px 4px 0px;
  box-sizing:border-box;
  cursor:default;
  font-family:Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:700;
  height:30px;
  padding: 11px;
  padding-top: 5.5px;
  width:31.4375px;
}

.unit {
  background-color:rgb(232, 232, 232);
  color:rgba(0, 0, 0, 0.5);
}


#simInput {
  background-color: #4F4A41;
}

.simInput {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-shrink: 0;
}

#containerHeader {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #333333;
  height: 36px;
}


#containerHeader li {
  display: flex;
  list-style-type: none;
  border: none;
  text-decoration: none;
  color: white;
  width: 20%;
  height: 36px;
  background-color: #333333;
  justify-content: center;
  align-items: center;
  transition: 1s width ease;
}

#containerHeader li:hover {
  background-color: #111111;
  width: 30%;
  cursor: pointer;
}
