/* *****************************
All the simulator layers
All the General setting
***************************** */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #stage {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  box-sizing: border-box;
}

table, th, td {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

th {
  text-align: left;
}

#stage {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #88BDBC 5px;
  overflow: hidden;
}

#firstBox, #secondBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

#firstBox {
  width: 35%
}
#secondBox {
  width: 65%
}


#leftbar {
  display: flex;
  flex-direction: column;
  background-color: #88BDBC;
}

#leftbar, #sim {
  height: 65%;
}

#sim {
  position: relative;
  background-color: #fffbea;
}

#leftWindow #sim {
  height: 100%;
}

#leftbar.hidden {
  height: 0%;
}

/* *****************************
#leftbar
#questionsdiv <--
#questionsTitle
#q1
#equationContainer

Simulation Question layer
***************************** */

#questionsdiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%
}

#questionsdiv h3 {
  align-self: center;
}

#qtable {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#q1 section {
  padding-bottom: 20px;
}

.questions {
  height: 80%;
  margin: 15px;
  font-size: 0.95em;
  overflow-y: auto;
}

/* *****************************
#leftbar
#questionsdiv
#equationContainer <--
#hidebar
#equationdiv
#simulatorSetting
#dataPlot
#NernstEqn/#GoldmanEqn
#answer
#equilibrateButton

Simulation Equation & Setting layer
***************************** */

#simulatorInputContainer {
  justify-content: space-between;
  padding: 10px;
  overflow: auto;
}

#equationContainer {
  overflow-y: auto;
  overflow-x: hidden;
}

#simulatorInputContainer, #equationContainer {
  background-color: #4F4A41;
  display: flex;
  flex-direction: column;
  height: 35%;
}

#equationContainer.fullsize {
  height: 100%
}

#equationContainer, #leftbar, #equationdiv, #q1 {
  transition: height 0.3s ease-in;
}

#hidebar {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  background-color: #60a3bc;
  height: 20px;
  padding: 5px;
}

#hidebar:hover {
  background-color: #82ccdd;
  cursor: pointer;
}

#hidebarText {
  word-wrap: break-word;
  font-family: monospace;
  /* Placed letter "i" in the center */
  white-space: pre-wrap;
  /* this is for displaying whitespaces including Moz-FF.*/
  font-size: 18px;
}

#equationdiv {
  padding: 5px;
  background-color: #4F4A41;
  display:flex;
  flex-shrink: 0;
  flex-direction: column;
}

#equationdiv select {
  width: 45px;
  height: 25px;
  text-align: center;
}

#simulatorSetting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
/* https://stackoverflow.com/questions/3331353/transitions-on-the-display-property */
#simulatorSetting, #questionsdiv, #leftWindow {
  transition-property: visibility, opacity;
  transition-duration: 0s, .5s;
}

#simulatorSetting.hidden, #questionsdiv.hidden , #leftWindow.hidden {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility, height;
  transition-duration: .5s, 0s;
  transition-delay: 0s, .5s;
  height: 0;
  padding: 0;
}

.setting {
  display: block;
  text-align: center;
}
.setting tr {
  position: relative;
  font-weight: 400;
  font-style: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: rgba(0,0,0,.87);
  margin:5px;
}
.setting tr label {
  border-radius:4px 0px 0px 4px;
  box-sizing:border-box;
  color:rgba(255, 255, 255, 1);
  background-color:rgba(255, 255, 255, 1);
  background-color:#74b9ff;
  cursor:default;
  font-family:Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:700;
  height:30px;
  padding: 11px;
  padding-top: 5.5px;
  width:40px;
}

#NernstSetting tr:nth-child(1) label {
  background-color:#74b9ff;
  padding-left: 12px;
  padding-top: 7px;
}

#GoldmanSetting tr:nth-child(1) label {
  background-color:rgb(245, 206, 40);
}
#GoldmanSetting tr:nth-child(2) label {
  background-color:rgb(205, 92, 92);
}
#GoldmanSetting tr:nth-child(3) label {
  background-color:rgb(53, 178, 53);
}

.setting tr input {
  box-sizing:border-box;
  color:rgba(0, 0, 0, 0.87);
  display:block;
  font-size:14px;
  font-weight:400;
  height:30px;
  line-height:17px;
  max-width:100%;
  outline: none;
  border: 1px solid #DDDDDD;
  padding: 14px 9.5px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

#NernstSetting tr:nth-child(1) input:focus {
  box-shadow: 0 0 5px #74b9ff;
  border: 1px solid #74b9ff;
}

#GoldmanSetting tr:nth-child(1) input:focus {
  box-shadow: 0 0 5px rgb(245, 206, 40);
  border: 1px solid rgb(245, 206, 40);
}

#GoldmanSetting tr:nth-child(2) input:focus {
  box-shadow: 0 0 5px rgb(205, 92, 92);
  border: 1px solid rgb(205, 92, 92);
}

#GoldmanSetting tr:nth-child(3) input:focus {
  box-shadow: 0 0 5px rgb(53, 178, 53);
  border: 1px solid rgb(53, 178, 53);
}

.setting tr div {
  border-radius:0px 4px 4px 0px;
  box-sizing:border-box;
  cursor:default;
  font-family:Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:700;
  height:30px;
  padding: 11px;
  padding-top: 5.5px;
  width:31.4375px;
}

.unit {
  background-color:rgb(232, 232, 232);
  color:rgba(0, 0, 0, 0.5);
}


#simInput {
  background-color: #4F4A41;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.can {
  margin-left: auto;
  margin-right: auto;
}

.controls {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#questionBotton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #112D32;
}

#questionNext, #questionPrev {
  background-color: #112D32;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 20%;
}

#questionNext:disabled, #questionPrev:disabled {
background-color: gray;
  cursor: not-allowed;
}

#questionControl {
  padding-bottom: 10px;
}
#questionJumpInput {
width: 20px;
text-align: center;
}

#jumpBtn0 {
  border: solid 1px;
}

.jumpBtn:not(:first-child) {
color: white;
  background-color: #112D32;
  width: 25px;
  border: solid 1px;
  border-left: none;
}

.jumpBtn[target] {
  background-color: #59ABE3;
}

.jumpDot {
/* color: white;
  background-color: #112D32; */
  cursor: default;
  padding: 0px 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.qoptions {
  margin-left: 5px;
  vertical-align: middle;
  align-self: flex-end;
  margin-top: auto;
}

.answer {
  text-align: center;
  width: 100%;
  color: #000;
}

.control h3 {
  font-size: 25px;
}

.control input {
  width: 40px;
  height: 20px;
  text-align: center;
}

.qoptions input {
  width: 50px;
  height: 29px;
  text-align: center;

  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}

.qoptions button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  text-align: center;
}

.checkboxes {
  margin: 5px;
}

.checkboxes label {
  margin-left: 5px;
}

#particleControl {
  background-color: #4F4A41;
  display: flex;
  justify-content: center;
  flex: 0;
}

#NernstButton, #GoldmanButton, #equilibrateButton {
  border: none;
  text-align: center;
  text-decoration: none;
  width: 20%;
  height: 36px;
  margin-left: 20px;
  background-color: #dfe6e9;
}

.control input:hover {
  cursor: text;
  box-shadow: 0px 0px 15px lightgrey;
}

.checkboxes input {
  cursor: pointer;
}

#NernstButton:hover, #GoldmanButton:hover, button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px lightgrey;
}

#equilibrateButton {
  font-size: 1.1em;
  margin: 10px 0px;
  flex: 0 0 auto;
}

#equilibrateButton, #answer {
  width: 95%;
  align-self: center;
}

#equilibrateButton:hover, #equilibrateButton:active, #equilibrateButton:focus {
  box-shadow: 0px 0px 15px lightgrey;
  cursor: pointer;
}

#ion-selector {
  display: block;
}

#simCanvasPause {
  z-index: 1;
  background-color: gray;
  opacity: 0.55;
  font-size: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#simCanvasFrame {
  z-index: 2;
  font-size: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#simCanvasPauseIcon {
  background-color: gray;
  opacity: 0.7;
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#simCanvasPauseIcon:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

/* Header */
#simulator iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

#containerHeader {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #333333;
  height: 36px;
}

#root {
  height: calc(100% - 36px)
}

#containerHeader li {
  display: flex;
  list-style-type: none;
  border: none;
  text-decoration: none;
  color: white;
  width: 20%;
  height: 36px;
  background-color: #333333;
  justify-content: center;
  align-items: center;
  transition: 1s width ease;
}

#containerHeader li:hover {
  background-color: #111111;
  width: 30%;
  cursor: pointer;
}

#helpPage {
  z-index: 10;
  background-color: gray;
  opacity: 0.92;
  display: flex;
  position: absolute;
  width: calc(100% - 4px - 2px);
  height: calc(100% - 36px - 4px);
  top: calc(36px + 2px);
  left: 2px;
  color: white;
  border-style: solid;
  border-width: 1px 0 0 1px;
}

.clone {
  display: flex;
  flex-direction: column;
  background-color: gray;
  color: white;
}

.clone:hover {
    background-color: #00b894;
    cursor: help;
}

.last {
  border-style: solid;
  border-color: white;
  border-width: 0 1px 1px 0;
}

#pauseButton {
  z-index: 1;
  background-color: gray;
  padding: 3%;
  position: absolute;
  top: calc(65% - 20px);
}

.control input:disabled, button:disabled {
  cursor: not-allowed;
}

#browserDetection {
  height: 100%;
  width: 100%;
  background-color: #ecf0f1;
  flex-direction: column;
}

#browserDetection section:first-child {
  height: 40%;
}
#browserDetection section:last-child {
  height: 60%;
  background-color: #ecf0f1;
}


#browserDetectionText {
  color:#c0392b;
  padding-right: 12px;
  font-style: normal;
}

#browserDetection section div:first-child {
  height: 30%;
  color: #2c3e50;
  font-size: 50px;
}

#browserDetection section div:last-child {
  height: 30%;
  color: #e74c3c;
  font-size: 40px;
font-weight: bold;
}

@media only screen and (max-width: 1060px) {
  #browserDetection section div:first-child {
    font-size: 40px;
  }
  #browserDetection section div:last-child {
    font-size: 30px;
  }
}
@media only screen and (max-width: 860px) {
  #browserDetection section div:first-child {
    font-size: 30px;
  }
  #browserDetection section div:last-child {
    font-size: 20px;
  }
}
@media only screen and (max-width: 615px) {
  #browserDetection section div:first-child {
    height: 20%;
    font-size: 17px;
  }
  #browserDetection section div:last-child {
    height: 10%;
    font-size: 15px;
  }
  #browserDetectionTable > i {
    font-size: 15px;
  }
}


#browserDetection section table {
    font-size: 20px;
    color: black;
}

#browserDetectionTable {
  height:80%;
}

#curBrowser {
  background-color: #c0392b;
  color: white !important;
}

.center {
  justify-content: center;
}

code {
  white-space: pre;
  font-family: Consolas, Courier New, monospace;
}

.fa-download {
  padding-right: 5px;
}

/* p5js create this by default... it causes a bug in IE */
#defaultCanvas0 {
  display: none;
}

#platformDetection {
  height: 100%;
  width: 100%;
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 52px;
    flex-direction: column;
    background-color: #2c3e50;
}
