* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #7A9D96;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  box-sizing: border-box;
}

table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}

#stage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #88BDBC;
  border-width: 5px;
  overflow:hidden;
}

#topBox, #botBox {
  display: flex;
}

#simulatorInputContainer, #equationsContainer {
  display: flex;
  flex-direction: column;
}

.flex-container {
  justify-content: center;
  align-items: center;
}

#leftbar {
  display: flex;
  flex-direction: column;
  background-color: #88BDBC;
  /* transition:width 1.0s ease-out; */
  /* padding-right:10px; */
}


#questionsdiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-right: 10px; */
  overflow-y: scroll;
}

#questionsdiv h3 {
  align-self: center;
}


#qtable {
width: 100%;
margin-top: 20px;
margin-bottom: 20px;
}

#q1 section {
  padding-bottom: 20px;
}
#hidebar {
  padding:5px;
}

.questions {
  height: 80%;
  padding:10px;
  font-size: 0.95em;
}

#equationdiv{
  padding: 5px;
  background-color: #4F4A41;
}

#equationdiv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#equationdiv select {
  width: 45px;
  height: 25px;
  text-align: center;
}

#simInput {
  background-color: #4F4A41;
  display: flex;
  flex-direction: row;

}

.can {
  margin-left: auto;
  margin-right: auto;
}


.controls {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#questionBotton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #112D32;
}

#questionNext, #questionPrev {
  background-color: #112D32;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.qoptions {
  margin-left: 5px;
  vertical-align: middle;
}

.control h3 {
  font-size: 25px;
}

.control input {
  width: 20px;
  height: 20px;

  text-align: center;
}

.control button {
  height: 20px;
  width: 20px;


  border-radius: 5px;
  border: none;

  font-size: 20px;
  text-align: center;
}

.checkboxes {
  margin:5px;
}
.checkboxes label{
  margin-left:5px;
}

#particleControl {
  background-color: #4F4A41;
  display:flex;
  /* justify-content: flex-start; */
  justify-content: center;
}

#NernstButton, #GoldmanButton {

  border: none;
  text-align: center;
  text-decoration: none;
  /* padding:10px; */
  width: 20%;
  height: 36px;
  margin-left: 20px;
  background-color: #dfe6e9;
}

#equilibrate-button {
  background-color: #112D32;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  padding:10px;
  width: 100%;
}

#ion-selector {
  display: block;
}

/*  CC  */
#hidebar {
display:flex;
align-items: center;
vertical-align: middle;
  justify-content: center;
}

#hidebarText {
/* width:1%; */
word-wrap: break-word;
font-family: monospace; /* Placed letter "i" in the center */
white-space:pre-wrap; /* this is for displaying whitespaces including Moz-FF.*/
font-size: 18px;
/* align-items: center;
vertical-align: middle;
  justify-content: center;
    align-self: center; */
}
