* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* background-color: #7A9D96; */
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  box-sizing: border-box;
}

table, th, td {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

th {
  text-align: left;
}

#stage {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #88BDBC;
  border-width: 5px;
  overflow: hidden;
}

#firstBox, #secondBox {
  display: flex;
  flex-direction: column;
}

#simulatorInputContainer, #equationsContainer {
  display: flex;
  flex-direction: column;
}

.flex-container {
  justify-content: center;
  align-items: center;
}

#leftbar {
  display: flex;
  flex-direction: column;
  background-color: #88BDBC;
  /* transition:width 1.0s ease-out; */
  /* padding-right:10px; */
}

#questionsdiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-right: 10px; */
  overflow-y: scroll;
}

#questionsdiv h3 {
  align-self: center;
}

#qtable {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#q1 section {
  padding-bottom: 20px;
}

#hidebar {
  padding: 5px;
}

.questions {
  height: 80%;
  padding: 10px;
  font-size: 0.95em;
}

#equationdiv {
  padding: 5px;
  background-color: #4F4A41;
}

#equationdiv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#equationdiv select {
  width: 45px;
  height: 25px;
  text-align: center;
}

#simInput {
  background-color: #4F4A41;
  display: flex;
  flex-direction: row;
}

.can {
  margin-left: auto;
  margin-right: auto;
}

.controls {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#questionBotton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #112D32;
}

#questionNext, #questionPrev {
  background-color: #112D32;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#equationContainer, #leftbar, #equationdiv, #q1 {
  transition: height 0.3s ease-in;
}

.control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.qoptions {
  margin-left: 5px;
  vertical-align: middle;
}

.control h3 {
  font-size: 25px;
}

.control input {
  width: 40px;
  height: 20px;
  text-align: center;
}

.control button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  text-align: center;
}

.checkboxes {
  margin: 5px;
}

.checkboxes label {
  margin-left: 5px;
}

#particleControl {
  background-color: #4F4A41;
  display: flex;
  /* justify-content: flex-start; */
  justify-content: center;
}

#NernstButton, #GoldmanButton {
  border: none;
  text-align: center;
  text-decoration: none;
  /* padding:10px; */
  width: 20%;
  height: 36px;
  margin-left: 20px;
  background-color: #dfe6e9;
}

input:hover {
  cursor: text;
  box-shadow: 0px 0px 15px lightgrey;
}

.checkboxes input {
  cursor: pointer;
}

#NernstButton:hover, #GoldmanButton:hover, button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px lightgrey;
}

#equilibrate-button {
  background-color: #112D32;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  /* padding:10px; */
  width: 35%;
}

#equilibrate-button:hover, #equilibrate-button:active, #equilibrate-button:focus {
  background-color: #353b48;
  box-shadow: 0px 0px 0px lightgrey;
  cursor: pointer;
}

#ion-selector {
  display: block;
}

/*  CC  */
#hidebar {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  background-color: #60a3bc;
}

#hidebar:hover {
  background-color: #82ccdd;
  cursor: pointer;
}

#hidebarText {
  /* width:1%; */
  word-wrap: break-word;
  font-family: monospace;
  /* Placed letter "i" in the center */
  white-space: pre-wrap;
  /* this is for displaying whitespaces including Moz-FF.*/
  font-size: 18px;
  transform: rotate(90deg);
  /* align-items: center;
vertical-align: middle;
  justify-content: center;
    align-self: center; */
}

#simulatorSetting {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

#NernstSetting, #GoldmanSetting {
  /* display:flex;
flex-direction: column;
align-items: center;
  justify-content: center; */
}

#simCanvasPause {
  z-index: 1;
  background-color: gray;
  opacity: 0.9;
  /* padding:16px; */
  font-size: 24px;
  top: calc(36px + 5px);
  width: calc(65% - 5px);
  height: calc(65% - 36px + 8px);
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header */
#simulator iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

#containerHeader {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #333333;
}

#containerHeader li {
  display: flex;
  list-style-type: none;
  border: none;
  text-decoration: none;
  /* padding:16px; */
  color: white;
  width: 20%;
  height: 36px;
  /* margin-left: 20px; */
  background-color: #333333;
  justify-content: center;
  align-items: center;
  transition: 1s width ease;
}

#containerHeader li:hover {
  background-color: #111111;
  width: 30%;
  cursor: pointer;
}

#helpPage {
  z-index: 10;
  background-color: gray;
  opacity: 0.9;
  display: flex;
  /* padding:16px; */
  width: calc(100% - 8px);
  height: calc(94% - 0px);
  position: absolute;
  ;
  top: calc(36px + 4px);
  left: 4px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

#helpPage div {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}

#helpPage div li {
  /* background-color: blue; */
  border: 1px solid white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pauseButton {
  z-index: 1;
  background-color: gray;
  padding: 3%;
  position: absolute;
  top: calc(65% - 20px);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

input:disabled, button:disabled {
  cursor: not-allowed;
}
