* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* background-color: #7A9D96; */
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  box-sizing: border-box;
}

table, th, td {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

th {
  text-align: left;
}

#stage {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #88BDBC;
  border-width: 5px;
  overflow: hidden;
}

#firstBox, #secondBox {
  display: flex;
  flex-direction: column;
}

#simulatorInputContainer, #equationsContainer {
  display: flex;
  flex-direction: column;
}

.flex-container {
  justify-content: center;
  align-items: center;
}

#leftbar {
  display: flex;
  flex-direction: column;
  background-color: #88BDBC;
  /* transition:width 1.0s ease-out; */
  /* padding-right:10px; */
}

#questionsdiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-right: 10px; */
  overflow-y: scroll;
}

#questionsdiv h3 {
  align-self: center;
}

#qtable {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#q1 section {
  padding-bottom: 20px;
}

#hidebar {
  padding: 5px;
}

.questions {
  height: 80%;
  padding: 10px;
  font-size: 0.95em;
}

#equationdiv {
  padding: 5px;
  background-color: #4F4A41;
  display:flex;
  flex-direction: column;
}

#equationdiv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#equationdiv select {
  width: 45px;
  height: 25px;
  text-align: center;
}

#simInput {
  background-color: #4F4A41;
  display: flex;
  flex-direction: row;
}

.can {
  margin-left: auto;
  margin-right: auto;
}

.controls {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#questionBotton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #112D32;
}

#questionNext, #questionPrev {
  background-color: #112D32;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#equationContainer, #leftbar, #equationdiv, #q1 {
  transition: height 0.3s ease-in;
}

.control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.qoptions {
  margin-left: 5px;
  vertical-align: middle;
  align-self: flex-end;
    margin-top: auto;
}

.answer {
  margin-left: 5px;
  vertical-align: middle;
  align-self: flex-end;
    margin-top: auto;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    /* border: solid 2px #d63031;
    color: #ecf0f1; */
    color: #74b9ff;
}

.control h3 {
  font-size: 25px;
}

.control input {
  width: 40px;
  height: 20px;
  text-align: center;
}

.control button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  text-align: center;
}

.checkboxes {
  margin: 5px;
}

.checkboxes label {
  margin-left: 5px;
}

#particleControl {
  background-color: #4F4A41;
  display: flex;
  /* justify-content: flex-start; */
  justify-content: center;
}

#NernstButton, #GoldmanButton {
  border: none;
  text-align: center;
  text-decoration: none;
  /* padding:10px; */
  width: 20%;
  height: 36px;
  margin-left: 20px;
  background-color: #dfe6e9;
}

.control input:hover {
  cursor: text;
  box-shadow: 0px 0px 15px lightgrey;
}

.checkboxes input {
  cursor: pointer;
}

#NernstButton:hover, #GoldmanButton:hover, button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px lightgrey;
}

#equilibrate-button {
  background-color: #112D32;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  width: 35%;
  /* font-weight: bold; */
}

#equilibrate-button:hover, #equilibrate-button:active, #equilibrate-button:focus {
  background-color: #353b48;
  box-shadow: 0px 0px 0px lightgrey;
  cursor: pointer;
}

#ion-selector {
  display: block;
}

/*  CC  */
#hidebar {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  background-color: #60a3bc;
}

#hidebar:hover {
  background-color: #82ccdd;
  cursor: pointer;
}

#hidebarText {
  /* width:1%; */
  word-wrap: break-word;
  font-family: monospace;
  /* Placed letter "i" in the center */
  white-space: pre-wrap;
  /* this is for displaying whitespaces including Moz-FF.*/
  font-size: 18px;
  transform: rotate(90deg);
  /* align-items: center;
vertical-align: middle;
  justify-content: center;
    align-self: center; */
}



#simCanvasPause {
  z-index: 1;
  background-color: gray;
  opacity: 0.7;
  /* padding:16px; */
  font-size: 24px;
  top: calc(36px + 5px);
  width: calc(65% - 5px);
  height: calc(65% - 36px + 8px);
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#simCanvasFrame {
  z-index: 2;
  /* background-color: gray; */
  /* opacity: 0.7; */
  /* padding:16px; */
  font-size: 24px;
  top: calc(36px + 5px);
  width: calc(65% - 5px);
  height: calc(65% - 36px + 8px);
  position: absolute;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#simCanvasPauseIcon {
  background-color: gray;
  opacity: 0.7;
  /* padding:16px; */
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#simCanvasPauseIcon:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Header */
#simulator iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

#containerHeader {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #333333;
}

#containerHeader li {
  display: flex;
  list-style-type: none;
  border: none;
  text-decoration: none;
  /* padding:16px; */
  color: white;
  width: 20%;
  height: 36px;
  /* margin-left: 20px; */
  background-color: #333333;
  justify-content: center;
  align-items: center;
  transition: 1s width ease;
}

#containerHeader li:hover {
  background-color: #111111;
  width: 30%;
  cursor: pointer;
}

#helpPage {
  z-index: 10;
  background-color: gray;
  opacity: 0.9;
  display: flex;
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 36px - 4px);
  top: calc(36px + 2px);
  left: 2px;
  color: white;
}

#helpPage div div {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  background-color: gray;
  opacity: 0.9;
  color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 10px;
}

#pauseButton {
  z-index: 1;
  background-color: gray;
  padding: 3%;
  position: absolute;
  top: calc(65% - 20px);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.control input:disabled, button:disabled {
  cursor: not-allowed;
}

#simulatorSetting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
/* https://stackoverflow.com/questions/3331353/transitions-on-the-display-property */
#simulatorSetting, #questionsdiv{
    transition-property: visibility, opacity;
    transition-duration: 0s, 1s;
}

#dataPlot {
    transition: max-height 0.25s ease-in;
}
#simulatorSetting.hidden, #questionsdiv.hidden {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 1s, 0s;
    transition-delay: 0s, 1s;
}

#dataPlot.hidden {
    max-height: 0;
    transition: max-height 0.15s ease-out;
 }

.setting {
  display: block;
  text-align: center;
}
.setting tr {
  position: relative;
  font-weight: 400;
  font-style: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: rgba(0,0,0,.87);
  margin:5px;
}
.setting tr label {
  border-radius:4px 0px 0px 4px;
  box-sizing:border-box;
  color:rgba(255, 255, 255, 1);
  background-color:rgba(255, 255, 255, 1);
background-color:#74b9ff;
  cursor:default;
  font-family:Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:700;
  height:30px;
  padding: 11px;
  padding-top: 5.5px;
  width:40px;
}

  #NernstSetting tr:nth-child(1) label {
  background-color:#74b9ff;
  padding-left: 12px;
  padding-top: 7px;
  }
  #GoldmanSetting tr:nth-child(1) label {
  background-color:rgb(245, 206, 40);
  }
  #GoldmanSetting tr:nth-child(2) label {
  background-color:rgb(205, 92, 92);
  }
  #GoldmanSetting tr:nth-child(3) label {
  background-color:rgb(53, 178, 53);
  }

.setting tr input {
  box-sizing:border-box;
  color:rgba(0, 0, 0, 0.87);
  display:block;
  font-size:14px;
  font-weight:400;
  height:30px;
  line-height:17px;
  max-width:100%;
  outline: none;
  border: 1px solid #DDDDDD;
  padding: 14px 9.5px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  }

  #NernstSetting tr:nth-child(1) input:focus {
  box-shadow: 0 0 5px #74b9ff;
  border: 1px solid #74b9ff;
  }

  #GoldmanSetting tr:nth-child(1) input:focus {
  box-shadow: 0 0 5px rgb(245, 206, 40);
  border: 1px solid rgb(245, 206, 40);
  }

  #GoldmanSetting tr:nth-child(2) input:focus {
  box-shadow: 0 0 5px rgb(205, 92, 92);
  border: 1px solid rgb(205, 92, 92);
  }

  #GoldmanSetting tr:nth-child(3) input:focus {
  box-shadow: 0 0 5px rgb(53, 178, 53);
  border: 1px solid rgb(53, 178, 53);
  }

.setting tr div {
  border-radius:0px 4px 4px 0px;
  box-sizing:border-box;
  cursor:default;
  font-family:Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:700;
  height:30px;
  padding: 11px;
  padding-top: 5.5px;
  width:31.4375px;
  }

  .unit {
      background-color:rgb(232, 232, 232);
      color:rgba(0, 0, 0, 0.5);
  }
