#contactPage {
  border: none;
  justify-content: center;
  align-items: center;
}

#contactPage {
  z-index: 10;
  display: flex;
  position: absolute;
  width: calc(100% - 4px - 2px);
  height: calc(100% - 36px - 4px);
  top: calc(36px + 2px);
  left: 2px;
}

#contactPageHelper {
  z-index: 5;
  position: absolute;
  background-color: rgba(128, 128, 128,0.92);
  height: 100%;
  width: 100%;
}

#contactPageBox {
  z-index: 10;
  opacity: 1;
  height: 450px;
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: #2f3640;
  border: solid 5px #f5f6fa;
}

#contactPageBox nav {
  flex: 4;
  height: 40%;
  width: 100%;
  background-color: #9d7eba;
  color: white;
  font-size: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
}

#contactPageBox div {
  margin: 5px 10px;
  flex: 6;
  height: 60%;
  font-size: 15px;
}

#secondLine {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  height: calc(90% - 20px);
}

#secondLine p {
  margin-top: 10px;
}

#secondLine p:last-child {
  margin-top: auto;
  align-self: center;
  color: #0984e3;
}

#firstLine {
  display:flex;
}
#firstLine p {
  margin-top: 0px;
  flex: 1;
  color: #ecf0f1;
  font-size: 14px;
}
#firstLine p:last-child {
  display: flex;
  justify-content: flex-end;
}

#thirdLine {
    display:flex;
    flex-direction: row;
}
